body {
   font-famyly: Arial, sans-serif;
   backgrund-color: #f4f4f4; 
   text-align: center;
   margin-top: 50px
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: 45a049;

}


#text {
    font-size: 18px;
    color: #333;
}
